// _variables.scss
$primario: #fbeadf;
$primarioOscuro: #e2c4b6;
$primarioFuerte: #d9b29f;
$secundario: #687483;
$secundarioOscuro: #5a6770;
$blanco: #fff;
$negro: #000;
$fuentePrincipal: 'Staatliches', cursive;


//media Queries


//Fuentes



//Separaciones
